<div id="mid">
    <div id="mid-main">
    	<h1>DO YOU NEED OCCASIONAL CARE?</h1>
    	<h2>Kids Care Help: Babysitting Help from People you Trust</h2>
    	<h3>On Kids Care Help you create or join a Mothers Babysitting Group. Being part of a group of trusted mothers makes it easy to find a babysitter when you most need it.</h3>
        <div id="main-video">
            <div id="video-left">
                <h1>LEARN MORE ABOUT</h1>
                <h3>MOTHERS BABYSITTING GROUP</h3>
                <div class="arrow-video"><%= image_tag('arrow-video.png') %></div>
                    <div class="sign"><a href="sign-up.php">Sign Up Now</a></div>
                    <p class="sitting-box-t" style="color:#000;">90 Day Free Trial</p>
                                        </div>
        	<div id="video-right">
                <iframe class="video-v" src="//www.youtube.com/embed/8YeBVpkH7mg?enablejsapi=1&amp;feature=player_detailpage" frameborder="0" allowfullscreen=""></iframe>
            </div>
                <div class="sign1"><a href="sign-up.php">Sign Up Now</a></div>
        </div>
    </div>
</div>