<div class="container about">
	<div class="row">
		<h1 class="text-center main">Do you need occasional care?</h1>
		<h2 class="text-center main">Kids Care Help: Babysitting Help from People you Trust</h2>
		<h3 class="text-center main">On Kids Care Help you create or join a Mothers Babysitting Group. Being part of a group of trusted mothers makes it easy to find a babysitter when you most need it.</h3>
	</div>
	
</div>