<div id="inner">
	<h1>About Us</h1>
    <p>Arranging a babysitter is never an easy task, especially finding someone that you trust.</p>
    <p>Regardless of whether you are still in the workforce or a stay at home mum, there will always be times when you need a babysitter urgently. We can help you when you need to attend an appointment, have work commitments, an urgent issue to attend to or just need to have a night out with your girlfriends.</p>
    <p>The inspiration for Kids Care Help came from listening to the challenges that parents encounter in finding babysitting help.</p> <p>&nbsp;</p>
    <p>We identified the most important criteria that parents ascribe to finding a babysitter:</p>
    <p>
        * It is provided by a person that parents trust<br>
        * They have easy access to people who can help<br>
        * It is Affordable<br>
        * The process of finding a babysitter is simple and easy to coordinate/manage
    </p><p>&nbsp;</p>
        
    <p>Kids Care Help believes that recent technological advances mean that parents can now find trusted babysitters online. We achieve this by setting up a community where parents can share information with one another to build a circle of trust that helps them make informed decisions on babysitters.</p>
    <p>We launched our first service offering targeted towards Mothers by giving them the ability to form a Mothers Babysitting Group. With a Mothers Babysitting Group, mothers can join or create groups and seek one another’s assistance to get babysitting help.</p>
    <p>We plan to launch more services as the business grows, so stay tuned. </p>
    <p>&nbsp;</p>
    
    <p><strong>Our Vision</strong></p>
    <p>To build an online platform that makes it easy for parents to find childcare by offering a choice of services that suits their needs.</p>
    <p>&nbsp;</p>
    
    <h1>Founder</h1>
    <p><strong>Anirudh (Ani) Nair</strong> - Founder , Kids Care Help</p>
    <p>Kids Care Help is the brainchild of Ani Nair. Ani was motivated by the challenge of helping families find childcare in a simple and cost effective way.</p>
    <p>With experience in strategy formulation and as a management consultant in large and medium sized corporations, Ani brings his problem solving and thought leadership capabilities to Kids Care Help.</p>
    <p>He is responsible for the formulation and implementation of the Strategy for Kids Care Help. He also manages Business Development and the day-to-day operations for Kids Care Help.</p>
    <p>Ani holds a degree in Executive MBA from the Australian Graduate School of Management (AGSM) and a Bachelors/Masters degree in Computer Science.</p>       
    <p>Outside of work, Ani loves to travel and experience different cultures and to be inspired by TED Talks. Further details of Ani’s professional career can be viewed on LinkedIn.</p>
    <p><span class="group-box-text"><a href="https://www.linkedin.com/in/aninair" target="_blank">https://www.linkedin.com/in/aninair</a></span></p>
</div>
<!--Inner page end-->
<div class="clearfix"></div>