<div id="inner">
	<h1>New and Media</h1>
    <p><%= image_tag('news.jpg', alt:"kids care news") %></p>
	<h2>For All Media enquiries , please contact</h2>
	<p><strong>Ani Nair</strong><br>
  	Founder Kids Care Help<br>
  	Email - <span class="group-box-text"><a href="mailto:ani.nair@kidscarehelp.com.au">ani.nair@kidscarehelp.com.au</a></span></p>
</div>