<div id="inner">
    	<h1>About this Policy</h1> 
		<p><strong>What to read first</strong></p> 
		<p>The best place to start is by reading our simplified privacy policy which can be found here. It is a great way to get an understanding of how we collect, use and disclose your personal information. The extended privacy policy will give you a more comprehensive explanation of how your data is handled by Kids Care Help. If there's anything that is not clear from this privacy policy, please feel free to email us at <span class="group-box-text"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span><br></p> <p></p>
		<p><strong>Our Principles</strong></p> 
		<p>We have a simple approach to data protection and privacy which adheres to the <span class="group-box-text"><a href="http://www.oaic.gov.au/images/documents/privacy/privacy-resources/privacy-fact-sheets/privacy-fact-sheet-17-australian-privacy-principles_2.pdf" target="_blank">13 Australian Privacy Principles</a></span></p> 
		<p>Our obligations under the Privacy Act 1988 (Privacy Act):</p>

		<p>This privacy policy sets out how we comply with our obligations under the Privacy Act. As an Australian based organisation, we are bound by the <span class="group-box-text"><a href="http://www.comlaw.gov.au/Details/C2012A00197" target="_blank">Australian Privacy Principles</a></span> (APPs) in the Privacy Act which regulate how organisations may collect, use, disclose and store personal information, and how individuals may access and correct personal information held about them. 
		In this privacy policy, 'personal information' has the same meaning as defined by <span class="group-box-text"><a href="http://www.comlaw.gov.au/Details/C2012C00903/Html/Text#_Toc343249829" target="_blank">section 6 of the Privacy Act</a></span>: information or an opinion (including information or an opinion forming part of a database), whether true or not, and whether recorded in a material form or not, about an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion.<br>
		</p><p></p>
		<h1>Collection</h1> 
		<p>We collect your personal information so that we can provide you with the products, services or information that we supply. Sometimes we collect personal information from a third party or from a publicly available source, but only if you have consented to your information being used in this way, or would reasonably expect us to collect it in this way. We only collect this information from companies or sources that are allowed to disclose it to us. Below you will find a breakdown of the different ways your personal information is collected.</p> <br><p></p>
		<p><strong>What we collect from you</strong></p> 
		<p><strong>User contact forms</strong></p> 
		<p>When you fill out a contact form wishing to get in touch with us, we will collect that information and use it to get in touch with you in response to your query. We may use the information to reach out to you to inform you of some of the services we provide, provided it is in line with your original query.</p><p></p>	
		<p><strong>When you sign up with us and create a login with us</strong></p> 
		<p>When you sign up to our website using your personal details, we will collect this personal information so that your user preferences are stored when you come back and login.</p><p></p>	
		<p><strong>Credit card payments including PayPal</strong></p> 
		<p>If you make a credit card payment on our website please be aware that in some instances your credit card details may be made fully available to us so that we can process your payment. You can rest assured in that we destroy all credit card information the moment the payment has gone through.</p><p>If you pay on our website through a payment service such as PayPal, then we will only receive basic information and confirmation of payment. We will not have any access to your credit card details as these are handled by PayPal or another 3rd party payment provider inline with their terms of use.</p>	<p></p>
		<p><strong>Age eligibility 18+</strong></p> 
		<p>The contents and or services provided by our website are intended for persons over the age of 18. By agreeing to our terms or request for age verification, you are stating that you are over the age of 18 and understand that we may collect that information to allow access to the website.</p>	
		<p><strong>Contacting Support</strong></p> 
		<p>If you contact us for any technical, product or other website related support, we may retain that information on record so as to process your request as well as for training purposes. Such information may include the transcript, emails or other information which was relayed by you and Kids Care Help throughout the support request process.</p><p></p>	
		<p><strong>What we collect from your online activity</strong></p> 
		<p>www.kidscarehelp.com.au uses cookies and other digital identifiers that fall into the following 3 types:</p>
		<p>Site performance indicators: these give us information on how our websites are used, so that we can make the necessary improvements or amendments to make your experience a better one.</p><p>Analytics Cookies: these give us the statistics to understand how many people are on our website, which areas are popular and which areas we need to work on.</p>

		<p>Advertising Cookies: we use these cookies to understand what type of advertising would be better suited to someone like you. That way, you would receive ads that are more likely to be relevant to you.</p>
		<p>Cookie rights: You can always disable the use of cookies by changing the security settings of your browser. Just bear in mind that this may affect how some items are displayed on our website.</p><p></p>	
		<p><strong>What we collect and receive from others</strong></p> 
		<p>We may also collect personal information from other companies that are able to disclose it to us as this information is received in line with their privacy policies.</p><p></p> 
		<p><strong>Sign in with Facebook</strong></p>
		<p>If you use Facebook to sign up to www.kidscarehelp.com.au, your Kids Care Help account will be connected automatically to your Facebook account, and information regarding your activity on www.kidscarehelp.com.au may be shared with Facebook, may be published in your timeline and may be on your Facebook friends' news feeds.If you would like more information it would be best to go directly to the Facebook privacy policy (which can be found <span class="group-box-text"><a href="https://www.facebook.com/about/privacy/" target="_blank">here</a> </span>or on their website), since this information is collected by Facebook and provided to us under the terms of their privacy policy.</p>	<p></p>
		<p> 
		<strong>Social Network widgets and buttons (Pinterest, Twitter etc)</strong> 
		</p>
		<p>By clicking or using any social network widgets on our website, you understand that you do so according to the terms and privacy policy of those services. 'Liking' or 'Following', and content using these widgets, may become visible to your social network.</p><p></p>	
		<p> 
		<strong>Maps/Video and other embedded content</strong> 
		</p> 
		<p>Embedded content such as Google Maps, YouTube videos etc is embedded or placed on our website - it is not hosted on our servers and therefore any interaction with such services is done so according to their privacy policy.</p><p></p>
		<p> 
		<strong>3rd party commenting (Disqus, Livefyre, IntenseDebate, Google+ etc)</strong> 
		</p> 
		<p>Where your personal information is contained in a user generated post or in a communication through a third party commenting system, please be aware that the comment made may become, and remain public.</p>	
		 
		<h1>Use and Disclosure</h1> 
		<p>We only use personal information for the purpose which was requested of us, or for the purposes which directly relate to one of our functions or activities. We will not provide your personal information to other entities or bodies, or any other party unless one of the following applies (as per and in line with APP 6 - use and disclosure of personal information):</p> 
		<p>
		* You have consented. 
		</p><p>* You would reasonably expect, or have been informed, that information of such kind would be passed on to those individuals, entities or bodies (for more information, see subclause 6.2).
		  </p> 
		<p>* It is otherwise required or authorised by law, or reasonably necessary for the enforcement of a criminal law or of a law imposing a pecuniary penalty, or for the protection of public revenue.</p> 
		<p>* It may prevent or lessen a serious and imminent threat to somebody's life or health.</p> 
		<p></p>
		<h1>Direct Marketing</h1> 
		<p>When it comes to direct marketing, no one likes being spammed. At Kids Care Help, we may use your personal information to send you advertising that is customised to your interests, characteristics or general location.</p><p><strong>Opt-out:</strong> As with all direct marketing correspondence that you receive from us via email, there is always an unsubscribe button or link located at the bottom of the email. With this you can manage which messages you receive from us.</p>	
		<h1>Quality of Personal Information</h1> 
		<p>We do what we can to keep your personal information up to date and accurate at all times as this allows us to deliver a better service to you. If any information we have for you needs to be corrected, you can contact us via<span class="group-box-text"> <a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span></p> 
		<h1>Data Security</h1> 
		<p>We take active steps to protect the personal information we hold against loss, unauthorised access, use, modification or disclosure, and against other misuse. These steps include password protection for all of our IT systems. While we cannot share with you details of our entire security system for safety reasons, if you have any questions, you can always contact us at <span class="group-box-text"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span></p> 
		<p>When no longer required or requested by you, all personal information is destroyed in a secure manner.</p> 
		<h1>Cross-border Disclosure of Personal Information</h1> 
		<p>Some of your personal information may be stored with or disclosed to other entities overseas (who are not in Australia or an external Territory) who are direct partners that assist us in providing our service. As per <span class="group-box-text"><a href="http://www.comlaw.gov.au/Details/C2012A00197" target="_blank">APP 8</a></span>, we have taken steps to ensure that the overseas recipient does not breach the Australian Privacy Principles. We also have in place policies and procedures to safeguard the handling of your personal data by such entities.</p> <h1>Access and Correction</h1> 
		<p>At Kids Care Help, we do everything we can to keep your personal information accurate. If you find that any information we hold about you is incorrect, you can contact us at <span class="group-box-text"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span>, or as per the contact details below and we will endeavour to assist you with your questions. Please bear in mind that under Australian privacy laws, there may be situations where we cannot provide access to such personal information. For instance, if it would reasonably affect someone else's privacy or may pose a threat to someone's life, health or safety. </p> 
		<p>For any personal information that is collected by third parties, even when you are visiting our website, it is best to view their privacy policy and seek assistance from those parties directly.</p> 
		<h1>Complaints Handling</h1> 
		<p>If you have any complaints or feel that there has been a breach of the Australian Privacy Principles, or a registered APP code, you can contact us at <span class="group-box-text"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span> or via another option below.</p> 
		<p>If you are not satisfied with the process of making a complaint to our Privacy Officer you may make a complaint to the Information Commissioner on the details below:<br>Office of the Australian Information Commissioner<br>GPO Box 5218 Sydney NSW 2001 <br>Email: <span class="group-box-text"><a href="mailto:enquiries@oaic.gov.au">enquiries@oaic.gov.au</a></span> <br>Telephone: 1300 363 992 <br>Fax: 02 9284 9666</p> 
		<h1>How to Contact Us</h1> 
		<p>We understand that your personal information is important to you and are thrilled that you made it this far! If you have any questions or concerns about this policy or our practices you can get in touch with us in the following ways:<br><br>Email: <span class="group-box-text"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></span><br>Address: Kids Care Help, Epping Road, Lane Cove, Sydney, NSW, 2066</p> 
		<p>This privacy policy was created on 19/07/2014 by <span class="group-box-text"><a href="http://www.myprivacypolicy.com.au" target="_blank">My Privacy Policy</a></span>.</p> 
        
  </div>