<div id="inner">
	<h1>Terms And Conditions of Use</h1> 

    <p><strong>1. About the Website</strong></p> 
    <p>
    	<strong>1.1</strong> Welcome to <span class="group-box-text"><a href="http://www.kidscarehelp.com.au" style="text-decoration:none" target="_blank">www.kidscarehelp.com.au</a></span> (the "<strong>Website</strong>"). The Website provides users of the website with the opportunity to create or join groups with other mothers for the purposes of creating friendships to obtain babysitting services from people that they can get to know and trust through the use of the website (the "<strong>Services</strong>").<br>
        
        <strong>1.2</strong> The Website is operated by Ani Nair t/as Kids Care Help("<strong>Kids Care Help</strong>"). Access to and use of the Website, or any of its associated products or services, is provided by Kids Care Help. Please read these terms and conditions (the “Terms”) carefully. By using, browsing and/or signing up for use of the Website, this signifies that you have read, understood and agree to be bound by the Terms. If you do not agree with the Terms, you must cease usage of the Website, or any of the Services, immediately.<br>
        
        <strong>1.3</strong> Kids Care Help reserves the right to review and change any of the Terms by updating this page at its sole discretion. When Kids Care Help updates the Terms, it will use reasonable endeavours to provide you with notice of same. Any changes to the Terms take immediate effect from the date of their publication. Before you continue, we recommend you keep a copy of the Terms for your records.<br>
    </p>
    <p></p>
    
    <p><strong>2. Acceptance of the Terms</strong></p> 
    <p>
    	<strong>2.1</strong> You accept the Terms by registering for the Services and/or making any payment as required under the Terms for use of the Services. You may also accept the Terms by clicking to accept or agree to the Terms where and if this option is made available to you by Kids Care Help in the user interface.<br>
    </p>
    <p></p>
    
    <p><strong>3. The Services</strong></p> 
    <p>
    	<strong>3.1</strong> In order to access the Services, you are required to register for an account through the Website(the "<strong>Account</strong>").<br>
        <strong>3.2</strong> As part of the registration process, or as part of your continued use of the Services, you may be required to:<br>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> provide personal information about yourself (such as identification or contact details), including:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(i)</strong> an email address and/or preferred username;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(ii)</strong> a mailing address;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(iii)</strong> a telephone number; and<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(iv)</strong> a password.<br>
		<strong>3.3</strong> The registration process is completed upon purchasing a subscription to use the Services (the “Subscription”)through the payment of $6.50 (inclusive of GST where applicable) per month for the Subscription (the "<strong>Subscription Fee</strong>").<br>
        <strong>3.4</strong> You will be granted access to the Services until the subscription period expires or the Subscription is terminated pursuant to clause 11 of these Terms (the "<strong>Subscription Period</strong>").<br>
        <strong>3.5</strong> You warrant that any information you give to Kids Care Help in the course of completing the registration process will always be accurate, correct and up to date.<br>
        <strong>3.6</strong> Once you have completed the registration process you will be a registered member of the Website ("<strong>Member</strong>")and agree to be bound by the Terms.<br>
        <strong>3.7</strong> You may not use the Services and may not accept the Terms if:<br>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> you are not of legal age to form a binding contract with Kids Care Help; or<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> you are a person barred from receiving the Services under the laws of Australia or other countries including the country in which you are resident or from which you use the Services.<br>            
    </p>
    <p></p>
    
    <p><strong>4. Your obligations as a Member</strong></p> 
    <p>
    	<strong>4.1</strong> As a Member, you agree to comply with the following:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> you will not share your profile with any other person;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> you will use the Services only for purposes that are permitted by:<br>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(i)</strong> the Terms; and <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(ii)</strong> any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> you have sole responsibility for protecting the confidentiality of your password and/or email address. Use of your password by any other person may result in the immediate cancellation of the Services;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(d)</strong> any use of your registration information by any other person, or third parties, is strictly prohibited. You agree to immediately notify Kids Care Help of any unauthorised use of your password or email address or any breach of security of which you have become aware;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(e)</strong> you must not expressly or impliedly impersonate another Member or use the profile or password of another Member at any time; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(f)</strong> you agree not to harass, impersonate, stalk, threaten another Member of the Website (where interaction with other Members is made available to you);<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(g)</strong> access and use of the Website is limited, non-transferable and allows for the sole use of the Website by you for the purposes of providing the Services;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(h)</strong> you will not use the Services or the Website in connection with any commercial endeavours except those that are specifically endorsed or approved by the management of Kids Care Help;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(i)</strong> you will not use the Services or Website for any illegal and/or unauthorised use which includes collecting email addresses of Members by electronic or other means for the purpose of sending unsolicited email or unauthorised framing of or linking to the Website;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(j)</strong> you agree that commercial advertisements, affiliate links and other forms of solicitation may be removed from Member profiles without notice and may result in termination of the Services. Appropriate legal action will be taken by Kids Care Help for any illegal or unauthorised use of the Website; and<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(k)</strong> you acknowledge and agree that any automated use of the Website or its Services is prohibited.<br>
    </p>
    <p></p>
    
    <p><strong>5. Subscription Fee and Payment</strong></p> 
    <p>
    	<strong>5.1</strong> Payment of the Subscription Fee is made using Stripe Australia Pty Ltd (ACN 160 180 343) (“Stripe”). In using the Website, the Service or when paying the Subscription Fee, you warrant that you have read, understood and agree to be bound by the Stripe terms and conditions which are available on their website.<br>
        <strong>5.2</strong> You agree and acknowledge that Kids Care Help can alter the Subscription Fee at any time and that the altered Subscription Fee will subsequently come into effect the next time you pay the Subscription Fee.<br>
    </p>
    <p></p>
    
    <p><strong>6. Copyright and Intellectual Property</strong></p> 
    <p>
    	<strong>6.1</strong> The Website, the Services and all of the related products of Kids Care Help are subject to copyright. The material on the Website is protected by copyright under the laws of Australia and through international treaties. Unless otherwise indicated, all rights (including copyright) in the content and compilation of the Website (including but not limited to text, graphics, logos, button icons, video images, audio clips, Website, code, scripts, design elements and interactive features) (the "<strong>Content</strong>") are owned or controlled for these purposes and are reserved by Kids Care Help or its contributors.<br>
        <strong>6.2</strong> All trademarks, service marks and trade names are owned, registered and/or licensed by Kids Care Help, who grants to you a worldwide, non-exclusive, royalty-free, revocable license whilst you are a Member to: <br>	
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> use the Website pursuant to the Terms; and<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> copy and store the Website and the material contained in the Website in your device’s cache memory; and<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> print pages from the Website for your own personal and non-commercial use.<br>
        Kids Care Help does not grant you any other rights whatsoever in relation to the Website or the material on the Website. All other rights are expressly reserved by Kids Care Help.<br>
        
        <strong>6.3</strong> Kids Care Help retains all rights, title and interest in and to the Website and all related content.  Nothing you do on or in relation to the Website will transfer any:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> business name, trading name, domain name, trade mark, industrial design, patent, registered design or copyright, or<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> a right to use or exploit a business name, trading name, domain name, trade mark or industrial design, or<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> a thing, system or process that is the subject of a patent, registered design or copyright (or an adaptation or modification of such a thing, system or process), to you.<br>
        
        <strong>6.4</strong> You may not, without the prior written permission of Kids Care Help and the permission of any other relevant rights owners: broadcast, republish, up-load to a third party, transmit, post, distribute, show or play in public, adapt or change in any way the Content or third party content for any purpose. This prohibition does not extend to materials on the Website which are freely available for re-use or are in the public domain.<br>
        <strong>6.5</strong> If you are given the opportunity to broadcast, publish, upload, transmit, post or distribute any content on the Website ("<strong>Your Content</strong>"), then you grant to Kids Care Help a non-exclusive, transferrable, perpetual, royalty-free, irrevocable, worldwide licence to broadcast, republish, up-load to a third party, transmit, post, distribute, show or play in public, adapt or change Your Content.<br>
    </p>
    <p></p>
    
    <p><strong>7. Privacy</strong></p> 
    <p>
    	<strong>7.1</strong> Kids Care Help takes your privacy seriously and any information provided through your use of the Website, Services or the registration process are subject to Kids Care Help Privacy Policy, which is available on the Website.<br>
    </p>
    <p></p>
    
    <p><strong>8. </strong> General Disclaimer</p> 
    <p>
    	<strong>8.1</strong> You acknowledge and agree that, Kids Care Help is only facilitating the introductions between Members through the use of the Services. Kids Care Help holds no liability in respect to the actions of the Members.<br>
        <strong>8.2</strong> Nothing in the Terms limits or excludes any guarantees, warranties, representations or conditions implied or imposed by law, including the Australian Consumer Law (or any liability under them) which by law may not be limited or excluded.<br>
        <strong>8.3</strong> Subject to this clause 8, and to the extent permitted by law:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> all terms, guarantees, warranties, representations or conditions which are not expressly stated in the Terms are excluded; and<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> Kids Care Help we will not be liable for any special, indirect or consequential loss or damage (unless such loss or damage is reasonably foreseeable resulting from our failure to meet an applicable Consumer Guarantee), loss of profit or opportunity, or damage to goodwill arising out of or in connection with the Services or these Terms (including as a result of not being able to use the Services or the late supply of the Services), whether at common law, under contract, tort (including negligence), in equity, pursuant to statute or otherwise.<br>
        <strong>8.4</strong> Use of the Website and the Services is at your own risk. Everything on the Website and the Services is provided to you “as is” and “as available” without warranty or condition of any kind. None of the affiliates, directors, officers, employees, agents, contributors, or licensors of Kids Care Help make any express or implied representation or warranty about its Content or any products or Services (including the products or services of Kids Care Help) referred to on the Website. This includes (but is not restricted to) loss or damage you might suffer as a result of any of the following:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> failure of performance, error, omission, interruption, deletion, defect, failure to correct defects, delay in operation or transmission, computer virus or other harmful component, loss of data, communication line failure, unlawful third party conduct, or theft, destruction, alteration or unauthorised access to records; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> the accuracy, suitability or currency of any information on the Website, the Service, or any of its related products (including third party material and advertisements on the Website);<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> costs incurred as a result of you using the Website or the Services of Kids Care Help;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(d)</strong> the Content or operation in respect to links which are provided for your convenience;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(e)</strong> any failure to complete a transaction, or any loss arising from e-commerce transacted on the Website; or<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(f)</strong> any defamatory, threatening, offensive or unlawful conduct of third parties or publication of any materials relating to or constituting such conduct. <br>
    </p>
    <p></p>
    
    <p><strong>9. Limitation of liability </strong></p> 
    <p>
    	<strong>9.1</strong> Kids Care Help total liability arising out of or in connection with the Services or these Terms, however arising, including under contract, tort (including negligence), in equity, under statute or otherwise, will not exceed the resupply of information to you.<br>
        <strong>9.2</strong> You expressly understand and agree that Kids Care Help, its affiliates, employees, agents, contributors and licensors shall not be liable to you for any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by you, however caused and under any theory of liability. This shall include, but is not limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation and any other intangible loss.<br>
        <strong>9.3</strong> Kids Care Help is not responsible or liable in any manner for any content (including the Content and your Content and third party content) posted on the Website or in connection with the Services, whether posted by Kids Care Help or by third parties.<br>
        <strong>9.4</strong> Kids Care Help does not control and is not responsible for the behaviours and actions of its members, their comments, posts or information that they upload. Accordingly, Kids Care Help is not responsible for any offensive, inappropriate, obscene or unlawful content or actions that you may encounter on the Website or in connection with any of the services provided on the Website.<br>
        <strong>9.5</strong> By using the Website, you acknowledge that you are solely responsible for ensuring that you do not use the Services in such a way that you will be at risk of personal or psychological harm.<br>
    </p>
    <p></p>
    
    <p><strong>10. </strong> Termination of Contract</p> 
    <p>
    	<strong>10.1</strong> The Terms will continue to apply until terminated by either you or by Kids Care Help as set out below.<br>
        <strong>10.2</strong> If you want to terminate the Terms, you may do so by:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> notifying Kids Care Help at any time; and <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> closing your accounts for all of the services which you use, where Kids Care Help has made this option available to you.<br>
        Your notice should be sent, in writing, to Kids Care Help via the ‘Contact Us’ link on our homepage.<br>
        
        <strong>10.3</strong> Kids Care Help may at any time, terminate the Terms with you if:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> you have breached any provision of the Terms or intend to breach any provision;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> Kids Care Help is required to do so by law;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> Kids Care Help is transitioning to no longer providing the Services to Members in the country in which you are resident or from which you use the service; or<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(d)</strong> the provision of the Services to you by Kids Care Help is, in the opinion of Kids Care Help, no longer commercially viable.<br>
        <strong>10.4</strong> Subject to local applicable laws, Kids Care Help reserves the right to discontinue or cancel your membership at any time and may suspend or deny, in its sole discretion, your access to all or any portion of the Website or the Services without notice if you breach any provision of the Terms or any applicable law or if your conduct impacts Kids Care Help’ name or reputation or violates the rights of those of another party.<br>
        <strong>10.5</strong> When the Terms come to an end, all of the legal rights, obligations and liabilities that you and Kids Care Help have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and the provisions of this clause shall continue to apply to such rights, obligations and liabilities indefinitely.<br>
    </p>
    <p></p>
    
    <p><strong>11. Indemnity</strong></p> 
    <p>
    	<strong>11.1</strong> You agree to indemnify Kids Care Help, its affiliates, employees, agents, contributors and licensors from and against:<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> all actions, suits, claims, demands, liabilities, costs, expenses, loss and damage (including legal fees on a full indemnity basis) incurred, suffered or arising out of or in connection with your Content; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> any direct or indirect consequences of you accessing, using or transacting on the Website or attempts to do so; and/or<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> any breach of the Terms.<br>
    </p>
    <p></p>
    
    <p><strong>12. Dispute Resolution</strong></p> 
    <p>
    	<strong>12.1</strong> Compulsory:<br>
        If a dispute arises out of or relates to the Terms, either party may not commence any Tribunal or Court proceedings in relation to the dispute, unless the following clauses have been complied with (except where urgent interlocutory relief is sort).<br>
        
        <strong>12.2</strong> Notice:<br>
        A party to the Terms claiming a dispute ("<strong>Dispute</strong>") has arisen under the Terms, must give written notice to the other party detailing the nature of the dispute, the desired outcome and the action required to settle the Dispute.
        
        <strong>12.3</strong> Resolution:<br>
        On receipt of that notice ("<strong>Notice</strong>") by that other party, the parties to the Terms ("<strong>Parties</strong>") must:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(a)</strong> Within seven (7) days of the Notice endeavour in good faith to resolve the Dispute expeditiously by negotiation or such other means upon which they may mutually agree;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(b)</strong> If for any reason whatsoever, twenty-one (21) days after the date of the Notice, the Dispute has not been resolved, the Parties must either agree upon selection of a mediator or request that an appropriate mediator be appointed by the President of the Law Institute of New South Wales or his or her nominee;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(c)</strong> The Parties are equally liable for the fees and reasonable expenses of a mediator and the cost of the venue of the mediation and without limiting the foregoing undertake to pay any amounts requested by the mediator as a pre-condition to the mediation commencing. The Parties must each pay their own costs associated with the mediation;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>(d)</strong> The mediation will be held in Sydney, Australia.<br>
        
        <strong>12.4</strong> Confidential<br>
        All communications concerning negotiations made by the Parties arising out of and in connection with this dispute resolution clause are confidential and to the extent possible, must be treated as "without prejudice" negotiations for the purpose of applicable laws of evidence.<br>
        <strong>12.5</strong> Termination of Mediation:<br>
        If thirty (30) days have elapsed after the start of a mediation of the Dispute and the Dispute has not been resolved, either Party may ask the mediator to terminate the mediation and the mediator must do so.
    </p>
    <p></p>
    
    <p><strong>13. Venue and Jurisdiction</strong></p> 
    <p>The Services offered by Kids Care Help are intended to be viewed by residents of Australia. In the event of any dispute arising out of or in relation to the Website, you agree that the exclusive venue for resolving any dispute shall be in the courts of New South Wales, Australia.</p>
    <p></p>
    
    <p><strong>14. GST</strong></p> 
    <p>Unless otherwise stated, all amounts, including out of pocket expenses, expressed and described on or in connection with these Terms, are listed in Australian Dollars (AUD) and are GST inclusive. GST is only applicable to subscribers situated in Australia.</p>
    <p></p>
    
    <p><strong>15. Governing Law</strong></p> 
    <p>The Terms are governed by the laws of New South Wales, Australia.  Any dispute, controversy, proceeding or claim of whatever nature arising out of or in any way relating to the Terms and the rights created hereby shall be governed, interpreted and construed by, under and pursuant to the laws of New South Wales, Australia, without reference to conflict of law principles, notwithstanding mandatory rules. The validity of this governing law clause is not contested. The Terms shall be binding to the benefit of the parties hereto and their successors and assigns.</p>
    <p></p>
    
    <p><strong>16. Independent Legal Advice  </strong></p> 
    <p>Both parties confirm and declare that the provisions of the Terms are fair and reasonable and both parties having taken the opportunity to obtain independent legal advice and declare the Terms are not against public policy on the grounds of inequality or bargaining power or general grounds of restraint of trade.</p>
    <p></p>
    
    <p><strong>17. Severance</strong></p> 
    <p>If any part of these Terms is found to be void or unenforceable by a Court of competent jurisdiction, that part shall be severed and the rest of the Terms shall remain in force.</p>
    <p></p>
    
    
</div>