/*---inner pages start---*/
#inner { 
	margin:20px auto;
	padding:0px;
	width:100%;
	max-width:1024px;
}

#inner h1{ 
	margin:0px 0px 0px 0px;
	padding:10px 0px 20px 20px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:600;
	color:#000;
	border-bottom:#CCC solid 1px;
	
}

#inner h5{ 
	margin:0px 0px 0px 0px;
	padding:10px 0px 20px 20px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight:600;
	color:#2d7a82;
		
}


#inner p { 
	margin:0px;
	padding:10px 0px 0px 20px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:500;
	color:#6d6d6d;
	text-align:left;
	line-height:25px;

}

#inner h2{ 
	margin:0px;
	padding:10px 0px 0px 20px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:600;
	color:#32939d;
	text-align:left;
}

#inner h3 { 
	margin:0px;
	padding:0px 0px 10px 20px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:500;
	color:#969696;
	text-align:left;
}

.value-text {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:400;
	color:#939598;
}

.value-t-blue {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#51a8b1;
	text-transform:uppercase;
}

.value-t-orange {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#f6a520;
	text-transform:uppercase;
}

.value-t-purple {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#a82491;
	text-transform:uppercase;
}

.value-t-green {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#82b741;
	text-transform:uppercase;
}

.value-t-red {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#f11423;
	text-transform:uppercase;
}

.value-t-gray-title {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#6d6d6f;
	text-transform:uppercase;
}

.value-t-gray {
	margin:0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#6d6d6f;
	text-transform:uppercase;
}

.value-t-green-title {
	margin:60px 0px 60px 0px;
	padding:0px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:35px;
	font-weight:bold;
	color:#82b741;
	text-transform:uppercase;
	text-align:center;
}

	



/*---inner pages end---*/

