<div id="inner">
	<h5>Frequently Asked Questions</h5>
    <h1>Mothers Babysitting Group</h1>
    
    <h2>What is a Mothers Babysitting Group?</h2>
    <p>
        Kids Help Care allows mothers to create groups to help with babysitting each other’s kids. Think of it as a Mothers Co-operative. Given that so many mothers have the time and capacity to help each other out with babysitting duties, we decided to make it easier for them to do so.<br>
        The difficulty lies in finding babysitters whom you can trust and that is what the "Mothers Babysitting Group" concept achieves.
    </p>
    <p>&nbsp;</p>
 
    <h2>Who can create a Mothers Babysitting Group?</h2>
    <p>
        Any mother can create a Babysitting Group. <br>
        You don’t have to be from a particular city or country. All you need is a group with people that is happy to help one another with babysitting.
    </p>
    <p>&nbsp;</p>
      
    <h2>How do I create a Mothers Babysitting Group?</h2>
    <p>Just click on the Create Group option and get started. You can also invite your friends and create a group that includes people you already know and trust.</p>
    <p>&nbsp;</p>
      
      
    <h2>What do you mean by “Group Objective” and “Joining Criteria” fields when i try to create a Group?</h2>
    <p>
        When you create a group, it’s important to state what the Group Objective is. This will help you ensure people who want to join the group clearly know what you are trying to achieve by creating a Mothers Babysitting Group.<br>
        The Joining Criteria is where you can state what you are looking for in people who want to join the group. An example would be which suburb they should ideally be from, any requirements in terms of safety in their homes, stating whether as a group would help each other with babysitting for free or would you like to have some other form of reward or recognition.<br>
        The beauty of a Mothers Babysitting Group is that the power is with the mothers to decide how they want to run it. Kids Care Help will provide the platform to easily coordinate and manage the process.
    </p>
    <p>&nbsp;</p>
    
    <h2>Who can join a Mothers Babysitting Group?</h2>
    <p>Anyone can join a Mothers Babysitting Group. Just see the Group Objective and Joining Criteria and if you think you would like to be part of the group then you just need to submit a request to join.</p>
    <p>&nbsp;</p>
    
    <h2>Do I have to be a Mother to join the group ?</h2>
    <p>Yes. The idea behind calling this a Mothers Babysitting Group is to encourage mothers to join and help one another out with babysitting. Mothers can also come together for playdates, events or catch-ups on parenting topics/issues.</p>
    <p>&nbsp;</p>
   
    <h2>Is this service only available in Australia?</h2>
    <p>You can join even if you are not from Australia. It will not stop you from creating a group and inviting or accepting a join request.</p>
    <p>&nbsp;</p>
    
    <h2>How can I join a Mothers Babysitting group?</h2>
    <p>You can either be invited by the members of a group or you can send a Request to Join. The administrator of the group will accept your request.</p>
    <p>&nbsp;</p>
      
    <h2>What is a “Pay it Forward” Mothers Tally Board?</h2>
    <p>“Pay it Forward” is a concept from a novel in which a young boy gives help to those who need it and in return all he asks is for the person he helped to pay it forward and assist someone else to keep the cycle going.<br>
    A Mothers Babysitting Group is a similar concept. You help someone and in return someone else in the group will help with babysitting. The “Pay it Forward” Tally Board is a fun way of showing how people have been helping one another. It shows who has helped, how many times they’ve helped and how many times have they have sought help. It tracks contributions for three months and then refreshes again.</p>
    <p>&nbsp;</p>          

    <h2>Can I join multiple groups?</h2>
    <p>No, you cannot join multiple groups. You can only join one group.</p>
    <p>&nbsp;</p>
      
    <h2>Can I create more than 1 group?</h2>
    <p>No, again you can create just one group.</p>
    <p>&nbsp;</p>
      
    <h2>Do we have to pay each other in the group for babysitting duties?</h2>
    <p>No. Kids Care Help does not  enable payment to one another in the group for babysitting help.</p>
    <p>If the group decides they will pay each other then this is something that needs to be managed by the group amongst themselves. Kids Care Help will not play a role in enabling this.</p><p>
    </p><p>&nbsp;</p>
    
    <h2>Do I need any qualifications?</h2>
    <p>
        There isn’t anything specific that Kids Care Help is looking at.<br>
        The Group Administrator can list requirements under in the Joining Criteria section.
    </p>
    <p>&nbsp;</p>
      
    <h2>Are there any requirements for me to join the group?</h2>
    <p>All requirements to join the group would be stated in the “Joining Criteria” section for the Group by the Group Administrator.</p>
    <p>&nbsp;</p>
    
    <h2>How many people can be part of the group?</h2>
    <p>There is no restriction on the number of people that can join a group.</p>
    <p>&nbsp;</p>
    
    <h2>Should groups be from the same suburb?</h2>
    <p>
        Ideally mothers from the same suburb or nearby suburbs would find it easier and more convenient to go around and help one another with babysitting. Therefore it depends how the group wants to structure itself i.e. just people from their suburb or to include nearby suburbs.<br>
        The system will not stop anyone from any suburb from joining your group. The administrator needs to ensure the group members are from the suburbs they desire.
    </p>
    <p>&nbsp;</p>
    
    <h2>What is the Create Event option for in my group?</h2>
    <p>The Create Event option lets mothers organise a meeting or get together of group members for a particular purpose.</p>
    <p>&nbsp;</p>
    
    <h2>What is a Group Administrator?</h2>
    <p>
		A Group Administrator is the person that creates the group and has administrative rights to accept or reject any request to join the group. They can also make changes to the group’s information page.<br>
        While the administrator is the person who creates the group, if needed, they can delegate the administrator role to another mother in the group.
    </p>
    <p>&nbsp;</p>
    
    
    <h1>Free Trial &amp; Subscription Offer</h1>
    <h2>What do I get with a 90 Day Free Trial?</h2>
    <p>
    	With a 90 Day Free Trial you get all the features and services available with Kids Care Help. At this point we have introduced the Mothers Babysitting Group service. Once you sign up for a free trial, you can experience everything a Mothers Babysitting Group has to offer.<br>
        * As your free trial nears expiry, we will email you with a reminder to subscribe to our paid service<br>
        * Upgrade to our paid service, it’s just $6.50/month and you will be invoiced each month to pay for this
    </p>
    <p>&nbsp;</p>
    
    <h2>Will I have to provide any credit card details to sign up for the 90 Day Free Trial?</h2>
    <p>No you don’t have to provide your credit card details when you sign up for a Free Trial. You can convert to a subscription model anytime during the 90 Day Free Trial.</p>
    <p>We will also notify you closer to the end of the 90 day period and ask you if you would like to join the monthly subscription model.</p>
    <p>&nbsp;</p>
    
    <h2>What happens when the 90 Day Free Trial expires?</h2>
    <p>If you do not take up the paid subscription service at the end of 90 days then your account will be deactivated and you will not be allowed to use the services anymore. When you log in, you will be asked to upgrade to a monthly subscription fee model.</p>
    <p>&nbsp;</p>
    
    <h2>What are the subscriptions options available once the Free Trial expires?</h2>
    <p>We offer one subscription model which is signing up for a monthly fee of $6.50. We do not offer an annual or quarterly subscription service at this point in time.</p>
    <p>&nbsp;</p>
    
    <h2>Can I cancel anytime I want to?</h2>
    <p>Yes. You can cancel anytime you want. With no additional fees or no charges of any kind./p&gt;
    </p><p>&nbsp;</p>
    
    <h2>Are there any hidden charges or charges other than the subscription fees I pay?</h2>
    <p>
        There are no hidden charges. Once you subscribe to the Mothers Babysitting Group you do not have to pay us anything for arranging help with your group members.<br>
        If you as a Mothers Babysitting Group decide to pay each other for offering babysitting help, this will be decided and managed completely by the group itself.<br>
        Kids Care Help will have no role to play in this.
    </p>
    <p>&nbsp;</p>
    
    <h2>How can I pay the subscription fee?</h2>
    <p>We use Stripe for payment services. We will invoice you each month and you need to pay your monthly subscription fee before the end of your monthly service.</p>
    <p>&nbsp;</p>
     
    <h2>If I provide information on my Credit Card, is this information secure?</h2>
    <p>Yes. Providing a safe and secure service is the most important part of our business. We therefore use Stripe, a certified to Pay Card Industry (PCI) Service Provider Level 1. This offers the most stringent level of certification available online today.</p>
    <p>&nbsp;</p>
    
    <h2>Why do we charge a subscription fee?</h2>
    <p>
    	We are a self-funded start-up. Our plan is to launch the service, work with mothers to get their feedback on how we can enhance their experience on Kids Care Help and implement new features. <br>
    	Therefore, to ensure we provide the best experience and develop more services for parents to choose from, we charge a small monthly fee.
    </p><p>
    </p><p>&nbsp;</p>
    
    
    <h1>General</h1>
    <h2>Why do you require so much information about me in the profile section?</h2>
    <p>
        The nature of the service - i.e. babysitting - is all about trust. The more information you provide to your group members the easier it is to build trust. <br>
        The chances of getting more people to join or accept you into a group increases if they know as much as possible about you.
    </p>
    <p>&nbsp;</p>
  
    <h2>Should I provide a photo?</h2>
    <p>We recommend you do provide a photo. Again, it goes back to building trust in the community you are creating on Kids Care Help. Having a face to the name will help you achieve that.</p>
    <p>&nbsp;</p>
    
    <h2>Are you based in Australia?</h2>
    <p>Yes Kids Care Help was founded and continues to operate from in Sydney, Australia. See the About Us page to learn more about Kids Care Help.</p>
    <p>&nbsp;</p>
    
</div>