<div id="inner">
        <h1>How it works</h1>
        
        <h2>Join</h2>
        <p>
            * Register with Kids Care Help<br>
            * You will receive a free 3 month trial of our services
        </p>
        <p>&nbsp;</p>
       
       	<h2>Update your My Account Page</h2>
        <p>
        	* Go into your My Account Page<br>
            * Enter your details here<br>
            &nbsp;&nbsp;&nbsp;○ Describe yourself in as much detail as possible so that fellow group members know who you are.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is important to build trust with your group. The more information they know about you, the more they’ll trust.<br>
            * Check your membership status here. Stay updated on your monthly subscriptions.<br>
            * You can also see :<br>
            &nbsp;&nbsp;&nbsp;○ Your requests for babysitting help<br>
            &nbsp;&nbsp;&nbsp;○ Your offers to help group members with babysitting
        </p>
        <p>&nbsp;</p>

        
        <h2>Join a Group or Create a Group</h2>
        <p>
        	* After creating a profile, head to the “Find Groups” link on the top of your page.<br>
            * Here you can search for a Group that has already been created<br>
            * There are two types of groups; <strong>Public</strong> and <strong>Private</strong>. When you search for groups you will see either a "Send Request to Join" or “Join Group” button against the group.<br><br>
            "Send Request to Join" indicates it’s a Private Group. In this case, when you click request to join an email will be sent to the Group Admin. The Group Admin will accept your request or decline based on their individual requirements. You may be declined for reasons such as the group being full.<br><br>
            The "Join Group" button indicates that it is a Public Group. In this case when you click the Join Group button you immediately become a member of the group and the Group Admin will be notified that you have joined.
        </p>
        <p>&nbsp;</p>
        
      	<h2>It also possible to create a group: </h2>
        <p>
        	* On the Find Groups page you have the option to create a group.<br>
            * By creating the group, you automatically become the Group Administrator. This means:<br>
            &nbsp;&nbsp;&nbsp;○ You decide if you want the group to be Private or Public. If you decide to make it Private, then you will receive emails to accept or decline a mother’s request to join your group. If you decide to make the group Public, then any mother can join your group. You will notified when someone joins the group. <br>
            &nbsp;&nbsp;&nbsp;○ You can accept or decline group requests to join your group based on your Group Objective and Joining Criteria<br>
            &nbsp;&nbsp;&nbsp;○ You can edit group info: This allows you to provide information about your group to mothers who are looking to join<br>
            &nbsp;&nbsp;&nbsp;○ Change group admin: This allows you to select someone else to be the group admin, for example, while you are away.
        </p>
        <p>&nbsp;</p>
        
        <h2>Creating and Running Groups</h2>
        <p>
        	As a Group Admin you determine how the group is run. When you create a group you will be asked to enter information such as <strong>Group Objective and Joining Criteria</strong>.<br><br>
            Group Objective is where you should outline why you are setting up the group. This will help you ensure mothers who want to join the group clearly know what you are trying to achieve by creating a Mothers Babysitting Group.<br>
            Examples of Group Objectives could be:<br>
            &nbsp;&nbsp;&nbsp;○ Saving on costs associated with nannies and at the same time getting quality childcare.<br>
            &nbsp;&nbsp;&nbsp;○ Building a support network of mothers who deal with the same issues as you do and seeking their help in understanding how they manage them.<br>
            &nbsp;&nbsp;&nbsp;○ Providing children and mothers with the opportunity to make new friends in their suburb.<br>
            &nbsp;&nbsp;&nbsp;○ Creating a group of mothers who you can call upon for babysitting help with a short notice.<br><br>
            * The Joining Criteria allows you to state what you are looking for in people who may want to join the group. This will help clarify what you expect from mothers looking be a part of your group. Examples would be:<br>
            &nbsp;&nbsp;&nbsp;○ Which suburb should they be from?<br>
            &nbsp;&nbsp;&nbsp;○ Requirements in terms of safety in their homes?<br>
            &nbsp;&nbsp;&nbsp;○ Is a background check needed?<br>
            &nbsp;&nbsp;&nbsp;○ Would new members of the group have to attend a catch-up event with other mothers before they can start helping with babysitting?<br>
            &nbsp;&nbsp;&nbsp;○ Should they have a driver’s license and a clean driving record?<br>
            &nbsp;&nbsp;&nbsp;○ Will the group help each other with babysitting for free or will some other form of reward/recognition be given.<br>
            &nbsp;&nbsp;&nbsp;○ Should they be attending any regular events? By doing this you would create a community focussed group that goes further than a purely transactional babysitting group.<br>
            &nbsp;&nbsp;&nbsp;○ Should mothers be involved in organising playdates or other parenting topic catch-ups?<br><br>
            <em>Remember, the objective of a Mothers Babysitting Group is to enable mothers to decide on the type of community they want to create. A clearly defined Group Objective and Joining Criteria will help you to do this.</em>
        </p>
        <p>&nbsp;</p>
        
        <h2>Raise a request for babysitting help</h2>
        <p>
        	* Now that you are a member of the group, you can “Raise Babysitting Request”<br>
            * This will trigger an email to all members of the group<br>
            * Members of your group will respond to your babysitting request by either accepting or declining. <br>
            * Sometimes you may have more than one mother in your group offering to help by accepting the request<br>
            * Members that accept your request to help with babysitting can be seen on your “My Group” and "My Account" Page<br>
            * You as the requestor can select who you would like to give the babysitting job to if you have more than one mother in your group offering to help with babysitting. You can do this from your My Group or My Account Page.<br>
            * The member you select will be notified that you would like them to babysit<br>
            * The email confirming the mother who will babysit will include email and a contact phone number. This will cover you in case of any last minute changes so the requestor and babysitter can contact each other.
        </p>
        <p>&nbsp;</p>
       
        <h2>Updating Request for Babysitting Help – 3 Scenarios and what you should do</h2>
        <p>
        	1. As the requestor, you select a mother in the group to help with babysitting. <b><u>After selecting a babysitter, you now need to change the date, time or location that you require help.</u></b><br>
            In this case, you are requested to contact the mother who has offered to babysit directly via phone or email and tell them about the change.<br>
            If they cannot help at the new date or time then you should <strong>raise a new request</strong> for babysitting help. Leave the original request for help as it is. Do not update and resend it.<br><br>
            2. You have raised a request for help and a few mothers in your group have volunteered. <b><u>You haven’t selected anyone to babysit. You need to change the original request with new date and/or time.</u></b><u> </u><br>
            Open your original request and edit the information in it and resend it to the group. This will trigger an email to all mothers in the group. It will also update the information on date and/or time on the web page of the group members.<br><br>
            3. You have raised a request. <b><u>No one has volunteered yet and you need to change the date and/or time</u></b><br>
            You should update the request. It will trigger an updated email to all mothers in the group and it will also update the web page for all group members with new date and/or time.
        </p>
        <p>&nbsp;</p>
        
        <h2>Offer to Help a group member with babysitting</h2>
        <p>
        	* On the My Group Page, you will ‘Offer Babysitting Help’. This is where you will see requests raised by your group members looking for babysitting help<br>
            * By clicking on Volunteer, you can show your willingness to help with babysitting<br>
            * Multiple people can offer to help the requestor. The requestor will notify you if they have accepted your request to help.<br>
            When the requestor has accepted a mother’s offer for help, an email notification will be sent to all group members. While the web page may still give you the option to volunteer for this request, please do not volunteer for help after you have received this email.
        </p>
        <p>&nbsp;</p>
        
        <h2>Create an event for your group</h2>
        <p>
        	* On your My Group Page, you have the option to “Create an Event” for your group<br>
            * This will create a calendar event.<br>
            * An event can be created by any member of the group.
        </p>
        <p>&nbsp;</p>
       
       	<h2>Participate in group events</h2>
        <p>
        	* Decide if you want to accept or decline requests from other members of the group to attend an event.<br>
            * You will be notified when a group member creates an event.
        </p>
        <p>&nbsp;</p>
       
        <h2>See how your group members are helping each other out</h2>
        <p>
        	* Use the Pay it Forward Tally Board to see how each member of the group is helping one another<br>
            * This shows a 3 month view of how mothers in the group are contributing
        </p>
        <p>&nbsp;</p>
      	
        <h2>Share Posts and Photos</h2>
        <p>
        	* On the Group Page, you can post information and photos.<br>
            * At this point, members can just share. Group members cannot reply or comment on posts.
        </p>
        <p>&nbsp;</p>
    </div>