<div id="footer-link">
	<div id="footer-main">
    	<div class="kids-care">
        	<div class="kids-care-in">
            	<h1>Kids Care Help</h1>
                <div class="f-link"><a href="/kids">About Us</a></div>
                <div class="f-link"><a href="/values">Our Values</a></div>
                <div class="f-link"><a href="/privacy">Privacy Policy</a></div>
                <div class="f-link"><a href="#"> Terms &amp; Conditions</a></div>
                <div class="f-link"><a href="#">News &amp; Media</a></div>
            </div>
        </div>
        <div class="kids-care">
        	<div class="kids-care-in">
            	<h1>Support</h1>
                <div class="f-link"><a href="/works">How it works</a></div>
                <div class="f-link"><a href="#">FAQ</a></div>
                 <div class="mail-info"><a href="mailto:customersupport@kidscarehelp.com.au">customersupport@kidscarehelp.com.au</a></div>
                <h2>Contact Us</h2>
                <div class="mail-info"><a href="mailto:info@kidscarehelp.com.au">info@kidscarehelp.com.au</a></div>
            </div>
        </div>
        <div class="social">
        	<div class="kids-care-in">
            	<h1>Social Media</h1>
                <div class="icon-f"><a href="https://www.facebook.com/pages/kidscarehelpcomau/251792708354806?ref=hl" target="_blank">Like us on Facebook</a></div>
                <div class="icon-t"><a href="https://twitter.com/KidsCare_Help" target="_blank">Follow us on Twitter</a></div>
                <div class="icon-g"><a href="https://plus.google.com/u/0/b/104191544741347745020/104191544741347745020/about" target="_blank">Connect us on google+</a></div>
                
            </div>
        </div>  
        <div style="clear:both;"></div> 
    </div>    
</div>
<div id="footer">
    <div id="footer-bg-left">
        <div id="footer-bg-right">
            <div id="footer-mid">
            <div class="bottom-logo"></div>
            <div class="copy">© 2014 <span class="footer-mid-blue">kidscarehelp.com.au</span> . ABN  58387692783.</div>
            </div>
        </div>
    </div>
</div>