<div id="form">
    <div id="form-in">
    	<div class="tittext">Sign Up Now for a 90 Day Free Trial</div>
		                    	<div class="hspace">&nbsp;</div>
                        
        <form action="#" method="post">
            <div></div>
            <div><input name="NAME" type="text" placeholder="Name" class="form-feild1" required="required"></div>
            <div><input name="EMAIL" type="email" placeholder="Email Address" class="form-feild2" required="required"></div>
            <div><input name="PASSWORD" type="Password" placeholder="Choose a Password" class="form-feild3" required="required"></div>
            <div><input type="checkbox" required="required"> I agree to the <a href="terms_and_conditions.php" target="_blank">Terms and Conditions</a> of Kids Care Help</div>
            <div style="height:5px;"></div>
            <input type="hidden" value="0" name="signpage">
            <div><input class="fsSubmitButton" type="submit" name="submit" value="Get Started"></div>
        </form>
    </div>
</div>